{namespace h=Tx_ExtbaseHijax_ViewHelpers}

<h:widget.paginate objects="{0: supportCases}" as="paginatedCases"
                   configuration="{itemsPerPage: settings.itemsPerPage, insertAbove : 'FALSE', insertBelow : 'TRUE', pagerTemplate: 'EXT:ed_sugarcrm/Resources/Private/Partials/Pager.html', widgetIdentifier: 'pager'}">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-list"></i>
                    <f:translate
                            key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.list.support_tickets"/>
                </h2>
            </div>
            <div class="box-content">
                <ul class="tickets">
                    <f:for each="{paginatedCases}" as="case" key="index">
                        <li class="ticket">
                            <f:link.action action="show" arguments="{uid: case.uid}">
                                <div class="left">
                                    <span class="status">
                                        <f:if condition="{case.status} == 'Closed'">
                                            <f:then>
                                                <span class="label label-warning">{case.status}</span>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{case.status} == 'New'">
                                                    <f:then>
                                                        <span class="label label-success">{case.status}</span>
                                                    </f:then>
                                                    <f:else>
                                                        <f:if condition="{case.status} == 'Rejected'">
                                                            <f:then>
                                                                <span class="label label-important">{case.status}</span>
                                                            </f:then>
                                                            <f:else>
                                                                <f:if condition="{case.status} == 'Duplicated'">
                                                                    <f:then>
                                                                        <span class="label label-important">{case.status}</span>
                                                                    </f:then>
                                                                    <f:else>
                                                                        <span class="label label-info">{case.status}</span>
                                                                    </f:else>
                                                                </f:if>
                                                            </f:else>
                                                        </f:if>
                                                    </f:else>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </span>
                                    <span class="date">{case.dateenteredformatted}</span>
                                    <span class="title">{case.name}</span>
                                </div>
                                <div class="right">
                                    <span class="name">{case.assigneduser.firstname}&nbsp;{case.assigneduser.lastname}</span>
                                    <span class="number">[ {case.casenumber} ]</span>
                                </div>
                            </f:link.action>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
    </div>
</h:widget.paginate>
<f:link.action action="new" class="btn btn-large btn-success"><f:translate key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.list.submit_new_case"/></f:link.action>
