{namespace h=Tx_ExtbaseHijax_ViewHelpers}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="message-view">
        <h:form class='extbase-form' action="update" controller="SupportCase" method="post">
            <f:form.hidden name="uid" value="{supportCase.uid}"/>
            <f:form.hidden name="status" value="{newStatus}"/>
            <div class="form-actions">
                <button tabindex="3" class="btn btn-primary">
                    <f:if condition="{newStatus} == 'Closed'">
                        <f:then>
                            <f:translate
                                    key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.show.close_case"/>
                        </f:then>
                        <f:else>
                            <f:translate
                                    key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.show.open_case"/>
                        </f:else>
                    </f:if>
                </button>
            </div>
        </h:form>
        <f:for each="{supportCase.emailsQueryResult}" as="email" key="index">
            <div class="well">
                <div class="message">
                    <div class="header">
                        <div class="from"><i class="halflings user"></i> <b>{email.createdByUser.firstName}&nbsp;{email.createdByUser.lastName}</b>
                        </div>
                        <div class="date"><i class="halflings time"></i> {email.dateSentFormatted}</div>
                        <div class="menu"></div>
                    </div>
                    <div class="box-content">
                        <f:if condition="{email.descriptionHtml} == ''">
                            <f:then>
                                <f:format.raw>{email.description}</f:format.raw>
                            </f:then>
                            <f:else>
                                <f:format.raw>{email.descriptionHtml}</f:format.raw>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:for>
        <div class="box-content">
            <h:form class='extbase-form' action="update" controller="SupportCase" method="post">
                <f:form.hidden name="uid" value="{supportCase.uid}"/>
                <f:form.hidden name="status" value="{newStatus}"/>
                <div class="form-actions">
                    <button tabindex="3" class="btn btn-primary">
                        <f:if condition="{newStatus} == 'Closed'">
                            <f:then>
                                <f:translate
                                        key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.show.close_case"/>
                            </f:then>
                            <f:else>
                                <f:translate
                                        key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.show.open_case"/>
                            </f:else>
                        </f:if>
                    </button>
                </div>
            </h:form>
            <f:if condition="{newStatus} == 'Closed'">
                <f:then>
                    <h:form class='extbase-form' action="create" controller="Email" method="post" objectName="email">
                        <f:form.hidden property="parentType" value="{parentCase}"/>
                        <f:form.hidden property="parentId" value="{supportCase.uid}"/>
                        <f:form.hidden property="name" value="{supportCase.name}"/>
                        <f:form.hidden property="toAddrs" value="{toEmail}"/>
                        <f:form.hidden property="assignedUser" value="{assignedUser}"/>
                        <f:render partial="FormElements/TextArea" arguments="{
                            property: 'description',
                            icon: false,
                            required: 0,
                            label: '{f:translate(key: \'LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.new.message\')}'
                        }" />
                        <div class="form-actions">
                            <button tabindex="3" class="btn btn-primary">
                                <f:translate
                                        key="LLL:EXT:capri_base/language/fe/locallang.ed_sugarcrm.xml:support_cases.show.send_message"/>
                            </button>
                        </div>
                    </h:form>
                </f:then>
            </f:if>
        </div>

    </div>
</div>