{namespace h=Tx_ExtbaseHijax_ViewHelpers}

<h1>User details</h1>

<ul>
    <li>Username: {user.username}</li>
    <li>SugarCRM account id: {user.crmAccount.uid}</li>
    <li>SugarCRM account name: {user.crmAccount.name}</li>
</ul>

<p>Cases:</p>
<h:widget.paginate objects="{0: user.crmAccount.casesQueryResult}" as="paginatedCases" configuration="{itemsPerPage: 2, insertAbove : 'TRUE', insertBelow : 'TRUE', pagerTemplate: 'EXT:ed_sugarcrm/Resources/Private/Partials/Pager.html', widgetIdentifier: 'pager'}">
    <ul>
        <f:for each="{paginatedCases}" as="case" key="index">
            <li>Case: {case.uid}, {case.name}</li>
        </f:for>
    </ul>
</h:widget.paginate>